# `SQL` Exercises

We are going to continue down the path of querying our twitter database. 
For this exercise, much of our activities will revolve around querying the `tweet` table (in the practice we spent most of our time in the `hashtag` table). 
This time around, all of the queries will be written by you. 

**Please keep in mind** that if your query is taking a very long time, 
it is probably because you are scanning the entire database. 
You will want to put a `LIMIT` on the lowest level of your query in order for results to render quickly. 
Take for example a query configured like so

```sql
SELECT <cols>
FROM (
    SELECT <cols>
    FROM <tables>
    LIMIT <int>) AS lowest_level_table
```

The query in the parentheses will be executed first and then the query outside of it will be executed on the results of the query inside of the parentheses. 

---

Before we begin, we will establish a connection...

In [1]:
import psycopg2
import pandas as pd

try:
    connect_str = "dbname='twitter' user='dsa_ro_user' host='pgsql.dsa.lan' password='readonly'"
    # use our connection values to establish a connection
    conn = psycopg2.connect(connect_str)
except:
    print("Something went wrong...probably the wrong permissions")

We will start off with a simple query...

**Exercise 1**: Write a query that returns all of the attributes and **200** rows from the tweet table. Then execute the query by running `pd.read_sql_query()`.

In [2]:
# Code for Exercise 1 goes here
# --------------

statement = """
SELECT * 
FROM twitter.tweet
LIMIT 200
"""

pd.read_sql_query(statement,conn)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_created_at,from_user_followers,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,856708150493360128,221,2017-04-25 03:15:14,RT @ObamaFoundation: Today @BarackObama spoke ...,228046685,228046685,chrisccerami,Chris Cerami,2010-12-18 15:20:50,133,...,Eastern Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
1,856708150531063809,255,2017-04-25 03:15:14,Eu desÃ§o a porrada msm,807724855756025857,807724855756025857,BorbaSHADY,Gabriel Borba,2016-12-10 23:13:07,39,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,pt,0
2,856708150640074752,295,2017-04-25 03:15:14,"RT @DrewSliva: @onsomeshit No, u quit cuz u ar...",844737256401264640,844737256401264640,JOZEF1300,JOZEF,2017-03-23 02:27:11,61,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
3,856708150652788737,262,2017-04-25 03:15:14,My New song idea #amazon_rain #acoustic #jazz ...,827911843465273345,827911843465273345,georgie_b68,George Becker,2017-02-04 16:09:00,166,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
4,856708150656880640,303,2017-04-25 03:15:14,@zzznilzzz I WILL DO NO SUCH THING!,37172173,37172173,sethsommerfeld,Seth Sommerfeld,2009-05-02 09:38:40,591,...,Pacific Time (US & Canada),14785015,14785015,zzznilzzz,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,856708167756992513,303,2017-04-25 03:15:18,"Yes, I am that silent fan",2583159870,2583159870,jenslvdr,Jen Salvador,2014-06-23 02:23:13,23,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
196,856708167807488000,269,2017-04-25 03:15:18,@riverandmal @BTupinit Start with the duck sho...,471549311,471549311,adanooope,,2012-01-23 00:39:06,634,...,Central Time (US & Canada),245113732,245113732,riverandmal,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
197,856708168008826880,294,2017-04-25 03:15:18,Expect a spike on your next heating bill. And...,76795367,76795367,WCCOShaffer,Chris Shaffer,2009-09-23 23:48:49,8974,...,Central Time (US & Canada),None,None,None,"<a href=""http://www.socialnewsdesk.com"" rel=""n...",None,NaN,NaN,en,0
198,856708168050761728,305,2017-04-25 03:15:18,https://t.co/BY7UEVNzMd\\nMassage Appointment ...,4786771172,4786771172,EHTbyDeni,EHT By Deni,2016-01-20 03:19:47,20,...,None,None,None,None,"<a href=""http://instagram.com"" rel=""nofollow"">...",None,NaN,NaN,en,0
199,856708168088518657,273,2017-04-25 03:15:18,Sad. Someone put me on with sum good music tha...,1494688717,1494688717,crysreaa,crysâ¡,2013-06-09 04:54:38,776,...,Eastern Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0

The `job_id` for this table refers to which city the tweet was collected from. Since we all now have some tie to Columbia, MO, we can query for those tweets that are specifically tied to Columbia. Columbia's `job_id` is 261.

**Exercise 2**: Write and execute a query that pulls all attributes and 200 rows where the job id is 261.

In [3]:
# Code for Exercise 2 goes here
# --------------

statement = """
SELECT * 
FROM twitter.tweet
WHERE job_id = '261'
LIMIT 200
"""

pd.read_sql_query(statement,conn)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_created_at,from_user_followers,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,857258845189615618,261,2017-04-26 15:43:30,RT @DeltaTauAKA: Come see us! https://t.co/CBP...,3178895880,3178895880,ShamelessMaya_,Mayaâ¨,2015-04-29 05:17:00,714,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
1,857258878827933697,261,2017-04-26 15:43:38,RT @SigmaPiMizzou: Hey @carrieunderwood we hav...,45681043,45681043,BSWINMO,BRANDON WRIGHT,2009-06-08 21:50:01,112,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0
2,857258905851895808,261,2017-04-26 15:43:44,On a serious note!lol! https://t.co/d6XqVhzhdW,391449994,391449994,TasteMakerJames,Duv@lÂ¥,2011-10-15 15:47:49,276,...,Atlantic Time (Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
3,857258948017233921,261,2017-04-26 15:43:54,CANNOT WAIT to meet #Mizzou21! More please!,23620660,23620660,Mizzou,Mizzou,2009-03-10 17:34:40,103624,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0
4,857258961271173120,261,2017-04-26 15:43:58,RT @SigmaPiMizzou: Hey @carrieunderwood we hav...,509673205,509673205,parham_hannah97,Hannah Parham,2012-03-01 03:25:46,503,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,857263570261823489,261,2017-04-26 16:02:16,"RT @MizzouAXO: This Denim Day, AXO takes the p...",703682465790074882,703682465790074882,lexi_mussatti,Lexi,2016-02-27 20:45:48,187,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
196,857263605556928513,261,2017-04-26 16:02:25,Working together to solve the clues for @break...,1658951372,1658951372,BurkemperEBE,Mrs. Burkemper,2013-08-10 01:04:51,735,...,Eastern Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
197,857263615996551169,261,2017-04-26 16:02:27,Inside every sidekick is a hero waiting to lea...,107084893,107084893,DGFA,Dave Griggs Flooring,2010-01-21 14:21:10,641,...,Central Time (US & Canada),None,None,None,"<a href=""http://www.hootsuite.com"" rel=""nofoll...",None,NaN,NaN,en,0
198,857263617359663104,261,2017-04-26 16:02:28,RT @SigmaPiMizzou: Hey @carrieunderwood we hav...,293201959,293201959,nshields419,Nick Shields,2011-05-04 23:04:30,435,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
199,857263657234956289,261,2017-04-26 16:02:37,When negative thoughts start to enter your min...,413641306,413641306,Kim_Becking,Kim Becking,2011-11-16 03:15:28,6457,...,Central Time (US & Canada),None,None,None,"<a href=""http://bufferapp.com"" rel=""nofollow"">...",None,NaN,NaN,en,0

The database also collects the language that the tweet was written in as long as it is identifiable. This is stored in the `iso_language` column as an attribute of the `tweet`. 

**Exercise 3**: Write and execute a query that returns the distinct languages and the count of each language for 2000 rows in Columbia, MO. Keep in mind this will be a nested query and that at the lowest level you have a limit of 2000.

In [4]:
# Code for Exercise 3 goes here
# ------------


statement = """
SELECT DISTINCT iso_language, COUNT(*)
FROM(
    SELECT iso_language
    FROM twitter.tweet
    WHERE job_id = '261'
    LIMIT 2000) AS t1
GROUP BY iso_language
ORDER BY COUNT DESC;
"""

pd.read_sql_query(statement,conn)

   iso_language  count
0            en   1859
1           und    116
2            fr      6
3            tr      6
4            in      4
5            et      2
6            nl      2
7            es      1
8            it      1
9            pt      1
10           ro      1
11           tl      1

**Exercise 4**: Now find out who tweets the most in Columbia, MO for 2000 rows of data. Arrange the data in descending order by count. User ids are stored in the `from_user` attribute.

In [5]:
# Code for Exercise 4 goes here
# ------------


statement = """
SELECT DISTINCT from_user, COUNT(*)
FROM(
    SELECT from_user
    FROM twitter.tweet
    WHERE job_id = '261'
    LIMIT 2000) AS t1
GROUP BY from_user
ORDER BY COUNT DESC;
"""

pd.read_sql_query(statement,conn)

               from_user  count
0               21821316    147
1               21606107    104
2              223435181     51
3              240158989     46
4     725409151996686336     40
...                  ...    ...
997             96856027      1
998             97473671      1
999            985774321      1
1000           989572680      1
1001           996192176      1

[1002 rows x 2 columns]

the column `from_user_followers` stores the number of followers the user who wrote the tweet had when that tweet was created.

**Challenge Question 1**: Write and execute a query that finds the average number of `from_user_followers` for each distinct `iso_language` from only 2000 rows of Columbia, MO tweets.

In [40]:
# Code for Challenge Question 1 goes here
# ------------

statement = """
SELECT DISTINCT iso_language, AVG(from_user_followers)
FROM(
    SELECT iso_language AS iso_language, from_user_followers
    FROM twitter.tweet
    WHERE job_id = '261'
    LIMIT 2000) AS t1
GROUP BY iso_language
ORDER BY avg DESC
"""

pd.read_sql_query(statement,conn)

   iso_language           avg
0            no  17889.000000
1            in   2529.200000
2            en   2118.614973
3            ro   1826.000000
4            ar   1059.800000
5           und    867.340659
6            fr    675.000000
7            de    553.500000
8            es    263.333333
9            pt    135.500000
10           sv     79.000000
11           hu     23.000000
12           tr     18.200000
13           tl     16.000000

# Save your notebook, then `File > Close and Halt`